/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #131318;
}
h1{
    font-size: 6.4rem;
    font-weight: 800;
    color: white;
}
h2,h3{
    font-weight: 800;
    color: black;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2.8rem;
    font-weight: 800;
    color: white;
}
p{
    color: #131318af;
}
.btn-primary{
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background: #FF5400;
}

nav a {
    font-size: 1.8rem;
    font-weight: 600;
    color: #424247;
    text-decoration: none;
}

/* Nav Bar */
header{
    max-width: 1170px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 8vh;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-text{
    font-size: 3.6rem;
    font-weight: 800;
    margin-left: 1rem;
}
.menus{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
}

/* HERO SECTION */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('hero-image.png');
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    border: 2px solid black;
    box-shadow: 0px 4px 4px #00000062;
}
.hero-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem;
}
.hero-texts p{
    color: white;
    max-width: 65rem;
    padding: 3rem 0rem;
}
.hero-info-container{
    /* width: 65%; */
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
}
.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background: #ffffff3c;
    border-radius: 0.5rem;
}
.info-form{
    margin-left: 1.5rem;
}
.form-box{
    color: black;
}
.inputs{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border: 0;
    width: 17.4rem;
}
select{
    color: #13131882;
}
.hero-btn{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

/* Tours Section */
.tours{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10rem 0rem 10rem 0rem;
}
.tours-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tours-content h2{
    padding-bottom: 2rem;
}
/* .tours-image img{
    width: 100%;
} */
.tours-text{
    color: #131318af;
    list-style-position: inside;
    width: 90%;
}
.text2{
    width: 83%;
}
.text1, .text2 li, .text3{
    padding-bottom: 2rem;
}
.text3{
    width: 76%;
}
/* Destination Grid */
.destination{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 10rem;
}
.destination-grid{
    display: grid;
    grid-template-rows: repeat(3, 28rem);
    grid-template-areas: 'maldives maldives indonesia indonesia'
                         'srilanka northAmerica northAmerica kashmir'
                         'bangladesh bangladesh bandarban bandarban';        
    row-gap: 2rem;
    column-gap: 2rem;
}
.destination-text{
    text-align: center;
}
.destination-text p{
    padding: 3rem 0rem;
    width: 60%;
    margin: 0 auto;
}

.maldives{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 5.png'); 
    grid-area: maldives;
}
.indonesia{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 8.png'); 
    grid-area: indonesia;
}
.srilanka{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 6.png'); 
    grid-area: srilanka;
}
.north-america{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 7.png'); 
    grid-area: northAmerica;
}
.kashmir{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 9.png'); 
    grid-area: kashmir;
}
.bangladesh{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 11.png'); 
    grid-area: bangladesh;
}
.bandarban{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Images/Rectangle\ 10.png'); 
    grid-area: bandarban;
}
.back-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Features Section */
.best-features{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 10rem;
}
.features-grid img{
    width: 6.4rem;
    padding: 2rem 0rem 2.5rem 0rem;
}
.features-grid h3, p{
    padding-bottom: 2rem;
}
.feature{
    width: 57.3rem;
    padding-left: 2rem;
    border-radius: 2rem;
}
.feature1{
    background: #fbb46323;
}
.feature2{
    background: #29cdf611;
}
.feature3{
    background: #e944440f;
}
.features-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    row-gap: 2.5rem;
}

/*-------------------------
------Media Query----------
---------------------------*/
/* Hero Media */
@media only screen and (max-width: 1169px){
    header{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .hero{
        padding: 3.5rem 0rem;
    }
    /* Tours Section */
    .tours{
        padding: 10rem 8rem 10rem 8rem;
    }
    p, li{
        font-size: 1.4rem;
    }
    .tours-image img{
        width: 40rem;
        height: 100%;
    }
   
    /* Destination Section */
    .destination{
        padding: 0rem 8rem;
    }
}
/* Media for Menu */
@media only screen and (max-width: 950px){
    h1{
        font-size: 5rem;
    }
    .menus{
        display: none;
    }
    .hero-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1.8rem 0rem;
    }
    .info-form{
        margin-left: 0rem;
    }
    .inputs{
        margin-bottom: 1rem;
        width: 90%;
        padding: 2rem 1.5rem;
    }
    .hero-btn{
        width: 90%;
        margin:0;
        text-align: center;
        justify-content: center;
        
    }
    .tours-image img{
        width: 100%;
        height: 100%;
    }
    .tours-content{
        width: 40rem;
    }
    h2{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
    }
}
/* Media Query for Mid Screen */
@media only screen and (max-width: 850px){
    .tours-content{
        width: 100%;
    }
    .tours-image img{
        width: 25rem;
    }
}
/* Media query for smaller screen */
@media only screen and (max-width: 726px){
    header{
        width: 100%;
        padding: 0rem 2rem;
    }
    h1{
        font-size: 2.2rem;
        padding-top: 4rem;
    }
    .hero-texts p{
        font-size: 1.4rem;
        width: 90%;
    }
    .hero{
        padding: 0rem;
    }
    
    p, li{
        font-size: 1.4rem;
    }
    /* Tours Section */
        .tours{
            flex-wrap: wrap;
            padding: 3rem 2rem;
            width: 100%;
        }
        .tours-text{ 
            width: 100%;
        }
        .tours-image{
            width: 100%;
        }
        .tours-image img{
            width: 100%;
        }
        h2{
            font-size: 2rem;
        }
        .tours-content button{
            margin-bottom: 2rem;
        }
        /* Destination Section */
       
        .destination{
            width: 100%;
            padding: 0rem 2rem 3rem 2rem;
        }
        .destination-grid{
            display: grid;
            grid-template-rows: repeat(7, 28rem);
            grid-template-areas: 'maldives'
                                 'indonesia'
                                 'srilanka'
                                 'northAmerica'
                                 'kashmir'
                                 'bangladesh'
                                 'bandarban';        
            row-gap: 2rem;
            column-gap: 2rem;
        }
}
